<!DOCTYPE html>
<html>
  <head>
    <title>SmallTalks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>
/* FOOTER */


html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.footer {
  background-color: black;
  color: white;
  height: 400px;
  position: relative;

} 

.footer .footer-content {
  border: 1px solid darkred;
  height: 350px;

}


.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:houver {
  color: lightblue;
}


.footer .footer-bottom {
  background: grey;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
  </style>

  <body>

 <!-- <div class="container"> -->
	<div class="row">
	<div class="col-12">
	 <%= render partial: 'shared/navigation_bar'%>
	  <div class="my-3">

	 <%= yield %>


		</div>
	</div>
	 <!--</div>-->
</div>
  </body>

  <!-- Page Wrapper -->
  <div class="page-wrapper">

  </div>

  <!-- // Page Wrapper -->

  <!-- footer -->

  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about"></div>
       <div class="footer-section links"></div>
        <div class="footer-section contact-form"></div>
    </div>
    <div class="footer-bottom">
    &copy; small_talk  | Designed by Heisler
    </div >

  </div>
  <!-- //footer -->
</html>
