<!DOCTYPE html>
<html>
  <head>
    <title>SmallTalks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>
/* FOOTER */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 20px;
}


html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.footer {
  background-color: #262130;
  color: white;
  height: 400px;
  position: relative;

}

.footer .footer-content {
  height: 350px;

}


.page-wrapper {
  min-height: 40%;
}

.page-wrapper a:houver {
  color: lightblue;
}


.footer .footer-bottom {
  background: #231C2F;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
  </style>

  <body>

 <!-- <div class="container"> -->
  <div class="row">
  <div class="col-12">
   <%= render partial: 'shared/navigation_bar'%>
    <div class="my-3">

   <%= yield %>


    </div>
  </div>
   <!--</div>-->
</div>
  </body>

  <!-- Page Wrapper -->
<div class="page-wrapper">
</div>

  <br>
    <br>
  <br>


  <!-- // Page Wrapper -->

  <!-- footer -->

  <div class="footer">


    <div class="footer-content">

      <div class="footer-section about"></div>
       <div class="footer-section links"></div>
        <div class="footer-section contact-form">

        </div>
    </div>
    <div class="footer-bottom">
    &copy; small_talk  | Designed by Heisler

    </div >

  </div>
  <!-- //footer -->
</html>
